:root {
    --cyan: #0E8784;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --light-cream: #FEFCF7;
    --grey: #83888F;
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'),
        url('../fonts/fraunces-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
        url('../fonts/fraunces-v10-latin-900.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v11-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v11-latin-700.woff2') format('woff2'),
        url('../fonts/barlow-v11-latin-700.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

section {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.coffee-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 257px;
    padding: 15px 34px 16px 35px;
    cursor: pointer;
    color: var(--light-cream);
    background: var(--cyan);
    border: none;
    text-align: center;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.3s;
}

.coffee-button:hover {
    background: #66D2CF;
}

.coffee-button:active {
    transform: scale(0.95, 0.95);
    background: #E2DEDB;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
}

// Header

.header {
    & {
        margin-top: 45px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 45px;
        background-color: white;
        position: sticky;
        top: -1px;
        z-index: 1;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: var(--grey);
    }

    &__link:hover {
        color: var(--cyan);
    }

    &__link:active {
        color: var(--dark-grey-blue);
    }
}

// Hero

.hero {
    & {
        margin-bottom: 136px;
    }

    &__container {
        background-image: url(/images/hero-img.png);
        border-radius: 10px;
        padding: 0px 86px 0px 86px;
    }

    &__wrapper {
        width: 493px;
        padding: 116px 0px 117px 0px;
    }

    &__heading {
        width: 493px;
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: var(--light-cream);
    }

    &__info {
        width: 444px;
        margin-bottom: 56px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--light-cream);
        opacity: 0.8;
    }
}

// Collection

.collection {
    & {
        margin-bottom: 180px;
    }

    &__container {
        background-image: url(/images/collections.png);
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__list {
        padding-top: 130px;
        width: 1111px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        transition: all 0.3s;
    }

    &__item:hover {
        transform: scale(1.05, 1.05);
    }

    &__link {
        width: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--dark-grey-blue);
    }

    &__info {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: var(--dark-grey-blue);
    }
}

// Choose

.choose {
    & {
        margin-bottom: 351px;
    }

    &__container {
        position: relative;
        padding-top: 115px;
        padding-bottom: 318px;
        border-radius: 10px;
        background-color: #282F38;
    }

    &__wrapper {
        width: 540px;
        margin: auto;
        text-align: center;
    }

    &__heading {
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: var(--light-cream);
    }

    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--light-cream);
        mix-blend-mode: normal;
        opacity: 0.8;
    }

    &__list {
        width: 1230px;
        margin-top: 86px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 350px;
        padding: 72px 0px 48px 0px;
        margin-top: 30px;
        background: var(--cyan);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item:nth-child(3) {
        padding-top: 92px;
    }

    &__item+&__item {
        margin-left: 30px;
    }

    &__item:nth-child(1) &__item-wrapper::before {
        content: url(../images/Shape.svg);
    }

    &__item:nth-child(2) &__item-wrapper::before {
        content: url(../images/Gift.svg);
    }

    &__item:nth-child(3) &__item-wrapper::before {
        content: url(../images/Deliver.svg);
    }

    &__item-wrapper {
        width: 255px;
        margin: auto;
        text-align: center;
    }

    &__item-text {
        margin-top: 56px;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--light-cream);
    }

    &__item-subtext {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: var(--light-cream);
    }
}

// Work

.work {
    & {
        margin-bottom: 200px;
    }

    &__container {
        padding: 0px 85px 0px 85px;
    }

    &__name {
        margin: auto;
        margin-bottom: 178px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: var(--grey);
    }

    &__list::before {
        content: url(../images/line.svg);
        width: 750px;
        position: absolute;
        margin-top: -101px;
    }

    &__list {
        margin: auto;
        display: flex;
        margin-bottom: 64px;
        flex-wrap: wrap;
    }

    &__item {
        width: 285px;
        transition: all 0.4s;
    }

    &__item::before {
        content: url(../images/Oval.svg);
        position: absolute;
        margin-top: -104px;
    }

    &__item+&__item {
        margin-left: 95px;
    }

    &__item-number {
        margin-bottom: 38px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: var(--pale-orange);
    }

    &__item-name {
        width: 255px;
        margin-bottom: 42px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: var(--dark-grey-blue);
    }

    &__item-info {
        width: 285px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--dark-grey-blue);
    }
}

// Footer

.footer {
    & {
        background: #2C343E;
    }

    &__container {
        display: flex;
        align-items: center;
        padding: 48px 85px 48px 85px;
    }

    &__left {
        margin-right: 103px;
    }

    &__middle {
        margin-right: 369px;
    }

    &__list {
        display: flex;
    }

    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: var(--grey);
    }

    &__item+&__item {
        margin-left: 32px;
    }

    &__link:hover {
        color: var(--cyan);
    }

    &__link:active {
        color: white;
    }

    &__network-list {
        width: 115px;
        display: flex;
        justify-content: space-between;
    }

    #facebook {
        fill: white;
    }

    #facebook:hover {
        fill: var(--pale-orange);
    }

    #twitter {
        fill: white;
    }

    #twitter:hover {
        fill: var(--pale-orange);
    }

    #instagram {
        fill: white;
    }

    #instagram:hover {
        fill: var(--pale-orange);
    }
}

//  About page 

.hero-about {
    & {
        margin-bottom: 168px;
    }

    &__container {
        background-image: url(/images/About_Us.png);
        border-radius: 10px;
        padding: 0px 85px 0px 85px;
    }

    &__wrapper {
        padding: 137px 0px 137px 0px;
    }

    &__heading {
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: var(--light-cream);
    }

    &__info {
        width: 445px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--light-cream);
    }
}

// commit

.commit {
    & {
        margin-bottom: 248px;
    }

    &__container {
        padding: 0px 85px 0px 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        border-radius: 8px;
    }

    &__name {
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: var(--dark-grey-blue);
    }

    &__info {
        width: 540px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--dark-grey-blue);
        opacity: 0.8;
    }
}

// quality

.quality {
    & {
        margin-bottom: 168px;
    }

    &__container {
        padding: 88px 85px 176px 85px;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-radius: 10px;
        background-color: #282F38;
    }

    &__name {
        margin-bottom: 32px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: var(--light-cream);
    }

    &__info {
        width: 540px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--light-cream);
        opacity: 0.8;
    }

    &__img {
        position: absolute;
        margin: -176px 0px 0px -448px;
        border-radius: 8px;
    }
}

// our-quarters 

.our-quarters {
    & {
        margin-bottom: 168px;
    }

    &__container {
        padding: 0px 85px 0px 85px;
    }

    &__name {
        margin-bottom: 72px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: var(--grey);
    }

    &__list {
        display: flex;
    }

    &__item {
        width: 285px;
    }

    &__item+&__item {
        margin-left: 108px;
    }

    &__item:nth-child(1)::before {
        content: url(../images/UK.svg);
    }

    &__item:nth-child(2)::before {
        content: url(../images/Canada.svg);
    }

    &__item:nth-child(3)::before {
        content: url(../images/Australia.svg);
    }

    &__country {
        padding-top: 47px;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: var(--dark-grey-blue);
    }

    &__location {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--dark-grey-blue);
    }
}