@media only screen and (max-width:375px) {

    // collection

    .collection {

        & {
            margin-bottom: 120px;
        }

        &__container {
            background-position: top;
            background-size: 286px;
        }

        &__list {
            padding-top: 75px;
            flex-direction: column;
        }

        &__item {
            margin: auto;
            margin-bottom: 48px;
            flex-direction: column;
        }

        &__item-wrapper {
            margin-bottom: 24px;
        }

        &__name {
            margin-bottom: 16px;
        }

        &__info {
            width: 282px;
        }
    }
}