@media only screen and (max-width:375px) {

    // footer

    .footer {

        &__container {
            padding: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__logo {
            width: 187px;
        }

        &__left {
            width: 187px;
            margin-bottom: 50px;
        }

        &__middle {
            width: 124px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            margin-right: 0;
            margin-left: 0;
        }

        &__list {
            width: 123px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            text-align: center;
            margin-bottom: 24px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }
    }

}
