@media only screen and (max-width:375px) {

    .container {
        width: 327px;
    }

    // header

    .header {
        & {
            padding: 10px 24px;
            margin-bottom: 41px;
        }

        &__container {
            padding: 0;
        }

        &__menu {
            display: block;
            border: none;
        }

        &__close {
            display: none;
        }

        &__nav {
            width: 16px;
            padding: 8px 0px;
            display: none;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__logo {
            width: 163px;
            height: 18px;
        }
    }
}