@media only screen and (max-width:375px) {
    // work

    .work {
        & {
            margin-bottom: 120px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__name {
            margin-bottom: 80px;
        }

        &__list {
            width: 325px;
            margin-bottom: 80px;
        }

        &__item::before {
            display: none;
        }

        &__item-number::before {
            display: none;
        }

        &__item {
            width: 327px;
            padding: 0;
            margin-bottom: 56px;
            text-align: center;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &__item+&__item {
            margin-left: 0;
        }

        &__item-number {
            margin-bottom: 24px;
        }

        &__item-name {
            width: 327px;
            margin-bottom: 24px;
            font-weight: 900;
            font-size: 28px;
            line-height: 32px;
        }

        &__item-info {
            width: 327px;
            margin-bottom: 24px;
            font-size: 15px;
            line-height: 25px;
        }
    }
}