@import "variables";
@import "container";
@import "header";
@import "hero";
@import "collection";
@import "choose";
@import "work";
@import "hero-about";
@import "commit";
@import "quality";
@import "our-quarters";
@import "hero-plan";
@import "plan-work";
@import "types";
@import "./_tablet-version/all-blocks";
@import "./_mobile-version/all-blocks";
@import "footer";