// Collection

.collection {
    & {
        margin-bottom: 180px;
    }

    &__container {
        background-image: url(/images/collections.png);
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__list {
        padding-top: 130px;
        width: 1111px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s;
    }

    &__item:hover {
        transform: scale(1.05, 1.05);
        cursor: pointer;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__name {
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: $dark-grey-blue;
    }

    &__info {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: $dark-grey-blue;
    }
}