// Footer

.footer {
    & {
        background: #2C343E;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 48px 85px 48px 85px;
    }

    &__list {
        width: 282px;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: $grey;
    }

    &__link:hover {
        color: $cyan;
    }

    &__link:active {
        color: white;
    }

    &__network-list {
        width: 115px;
        display: flex;
        justify-content: space-between;
    }

    #facebook {
        fill: white;
    }

    #facebook:hover {
        fill: $pale-orange;
    }

    #twitter {
        fill: white;
    }

    #twitter:hover {
        fill: $pale-orange;
    }

    #instagram {
        fill: white;
    }

    #instagram:hover {
        fill: $pale-orange;
    }
}