.admin {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;


    &>button {
        background-color: $cyan;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $light-cream;
        background: $cyan;
        border: none;
        text-align: center;
        border-radius: 6px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        line-height: 25px;
        transition: all 0.3s;
        padding: 10px;

        &:hover {
            cursor: pointer;
            background: #66D2CF;
        }

        &:active {
            transform: scale(0.90);
        }
    }
}

// Header

.header {
    & {
        margin-top: 45px;
        padding: 10px 0px 10px 0px;
        margin-bottom: 45px;
        background-color: white;
        position: sticky;
        top: -1px;
        z-index: 1;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        width: 283px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: none;
    }

    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: $grey;
    }

    &__link:hover {
        color: $cyan;
    }

    &__link:active {
        color: $dark-grey-blue;
    }
}