// our-quarters 

.our-quarters {
    & {
        margin-bottom: 168px;
    }

    &__container {
        padding: 0px 85px 0px 85px;
    }

    &__name {
        margin-bottom: 72px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $grey;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 285px;
        margin-bottom: 20px;
    }

    &__item+&__item {
        margin-left: 108px;
    }

    &__item:nth-child(3n+1) {
        margin-left: 0px;
    }

    &__item:nth-child(1)::before {
        content: url(../images/UK.svg);
    }

    &__item:nth-child(2)::before {
        content: url(../images/Canada.svg);
    }

    &__item:nth-child(3)::before {
        content: url(../images/Australia.svg);
    }

    &__item:nth-child(4)::before {
        content: url(../images/Australia.svg);
    }

    &__item:nth-child(5)::before {
        content: url(../images/Australia.svg);
    }

    &__country {
        padding-top: 47px;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: $dark-grey-blue;
    }

    &__location {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $dark-grey-blue;
    }
}