@media only screen and (max-width:768px) {

    // collection

    .collection {

        & {
            margin-bottom: 134px;
        }

        &__container {
            background-position: top;
            background-size: 689px;
        }

        &__list {
            width: 573px;
            padding-top: 65px;
            flex-direction: column;
        }

        &__item {
            margin-bottom: 47px;
            flex-direction: row;
        }

        &__info {
            width: 282px;
        }
    }
}