@media only screen and (max-width:768px) {

    // footer

    .footer {

        &__container {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__left {
            margin-bottom: 33px;
            margin-right: 0;
            border: 2px solid red;
        }

        &__middle {
            margin-bottom: 65px;
            margin-right: 0;
            border: 2px solid red;
        }

        &__list {
            width: 283px;
        }

        &__right {
            border: 2px solid red;
        }
    }

}