@media only screen and (max-width:768px) {

    .container {
        width: 689px;
    }

    // header

    .header {
        & {
            margin-bottom: 54px;
        }

        &__container {
            padding: 0;
        }
    }
}