@media only screen and (max-width:768px) {
    .our-quarters {
        & {
            margin-bottom: 144px;
        }

        &__container {
            padding: 0;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            width: 223px;
            margin-bottom: 20px;
        }

        &__item+&__item {
            margin-left: 9px;
        }

        &__item:nth-child(3n+1) {
            margin-left: -2px;
        }

        &__country {
            margin-bottom: 21px;
            font-size: 24px;
            line-height: 36px;
        }
    }
}