@media only screen and (max-width:768px) {
    .our-quarters {
        & {
            margin-bottom: 144px;
        }

        &__container {
            padding: 0;
            border: 2px solid red;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            width: 223px;
            margin-bottom: 20px;
        }

        &__item+&__item {
            margin-left: 9px;
        }

        &__item:nth-child(3n+1) {
            margin-left: -2px;
        }

        &__item:nth-child(1)::before {
            content: url(../images/UK.svg);
        }

        &__item:nth-child(2)::before {
            content: url(../images/Canada.svg);
        }

        &__item:nth-child(3)::before {
            content: url(../images/Australia.svg);
        }

        &__item:nth-child(4)::before {
            content: url(../images/Australia.svg);
        }

        &__item:nth-child(5)::before {
            content: url(../images/Australia.svg);
        }

        &__country {
            margin-bottom: 21px;
            font-size: 24px;
            line-height: 36px;
        }
    }
}